header {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
      gap: 10;
  
}

header div {
    display: flex;
    background-color: red;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
  

    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}