
h1{
    color: rgb(9, 9, 102);
    text-align: center;
}
h2{
    color: rgb(9, 9, 102);
    text-align: center;
}
p{
    color: rgb(9, 9, 102);
}

body{
    background-color: rgba(80, 105, 231, 0.897);
}